@model CelebrationCinema.Models.Movies

@{
    ViewData["Title"] = "SearchResult";
}

<h2>Result</h2>

<h2>Title: @Model.Title</h2>
<h2>Year: @Model.Year</h2>
<h2>Rated: @Model.Rated</h2>
<h2>Genre: @Model.Genre</h2>
<h2>Director: @Model.Director</h2>
  





